/* Bar at top */
#header{
  background-color: rgb(0,0,0);
  color:  rgb(255,255,255);
  padding:10px;
}

.fix{
  margin-top:7px;
  text-decoration:none;
}

/* Dropdown Menus */
button{
  background-color: rgb(0,0,0);
}

.dropdown-item{
  margin-left: 5px;
  font-size: 16px;
}

/*Big image */
.hImg{
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
  filter: brightness(70%) blur(4px);
}

.hText{
  position: absolute;
  text-align: center;
  margin-top: -25%;
  width: 100%;
  color:rgb(255,255,255);
  font-weight: bold;
  z-index:2;
}

/*Github well */
.well {
    background: rgb(245, 245, 245) !important;
}

div.well {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ghc{
  padding: 10px;
  border: 3px solid;
  background-color: rgb(200,200,200);
}

li{
  font-size:calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));;
}

.summary{
  font-size:calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));;
}

.bodyH{
  font-size:2em;
  font-weight: bold;
}

#footer{
  background: rgb(0,0,0) !important;
}
